.counter {
    background-color: darkslategrey;
    padding-top: 250px;
    padding-bottom: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.counterHeader {
    background-color: #61dafb;
    color:darkslategrey;
    padding: 40px 45px;
    font-size: large;
    font-weight: bolder;
    border: 2px solid #61dafb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.counterHeaderRed {
    background-color: #61dafb;
    color: red;
    padding: 40px 45px;
    font-size: large;
    font-weight: bolder;
    border: 2px solid #61dafb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.counterButtons {
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}


.counterButton {
    background-color: darkslategrey;
    border: 2px solid #61dafb;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

